
{% extends "base.html" %}
{% block body_class %}signuppage{% endblock %}

{% block head %}
<title>Sign Up</title>
{% endblock %}


{% block body %}
{% for message in get_flashed_messages() %}
  <div class="alert-container">
    <input type="checkbox" id="close{{ loop.index }}" class="close-toggle">
    <div class="alert alert-primary fade show">
      {{ message }}
      <label for="close{{ loop.index }}" class="btn-close" aria-label="Close"></label>
    </div>
  </div>
{% endfor %}

<div class="signup_content">
        <h1>Sign Up</h1>
       <form method="POST" action="">
         {{ form.hidden_tag() }}
         {{form.email}}
         {{ form.password}}
         {{ form.submit}}
    </div>

    <a href="{{ url_for('login') }}" class="btn login-btn">Already have an account? Log In</a>
{% endblock %}
